body {
	background-color: #ffeff6ff !important;
    	text-align: left;
}
.header {
	padding: 10px;
	width: 100%;
	display: block;
	height: 80px;
  	text-align: center;
  	background-color: #ffeff6ff;
  	color: #d0c8ccff;
  	font-size: 30px;
  	font-family: Impact, Charcoal, sans-serif;

}
.image-container {
	height: 500px;
	width: 800px;
	position: relative;
}
.image-container img{
	height: 100%;
}
.transition-image{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 500px;
	opacity: 0;
	transition: opacity 0.5s ease;
}
.transition-image:hover {
	opacity: 1;
}
