body {
	background-color: #ffeff6ff !important;
    	text-align: center;
}
.header {
	padding: 10px;
	width: 100%;
	display: block;
	height: 200px;
  	text-align: center;
  	background-color: #ffeff6ff;
  	color: #d0c8ccff;
  	font-size: 30px;
  	font-family: Impact, Charcoal, sans-serif;

}
.image-container {
	align: center;
	position: relative;
	width: 100%;
	height: 100%; 
	overflow: hidden;
}
.image-container img{
	/* Make video to at least 100% wide and tall */
	min-width: 100%; 
	min-height: 100%; 

	/* Setting width & height to auto prevents the browser from stretching or squishing the video */
	width: auto;
	height: auto;

	/* Center the video */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.transition-image{
	position: relative;
	top: 0;
	left: 0;
	height: 100%;
	opacity: 0;
	transition: opacity 0.5s ease;
}
.transition-image:hover {
	opacity: 1;
}
