body {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
    width: 100%;
    margin: 0px;
    overflow: hidden;
  }

  .text {
    color: rgb(255, 255, 255);
    font-size: 5vmin;
    padding: 16px 32px;
  }

  a {
    text-decoration: none;
  }

  a:link,
  a:visited {
    color: rgb(255, 255, 255);
  }

  .fixed {
    width: 100%;
    text-align: center;
    position: fixed;
    font-size: 5vmin;
    font-size: 10vmin;
    color: rgb(156, 2, 2);
    z-index: 3;
  }