body {
  text-align: center;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;  color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
}

img {
  image-orientation: from-image;
}

h1 {
   font-size: 30px;
   
}

img{
  position: absolute;
  position: relative;
  margin-top: 5%;

}

video{
  position: absolute;

  position: relative;
  margin-top: 5%;

}

* {
  box-sizing: border-box;
}

a:link {
  text-decoration: none;
  color: #000000;

}

a:visited {
  text-decoration: none;
  color: #000000;
}


/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

.column img {
  margin-top: 12px;
}

.column video {
  margin-top: 12px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


