body {
  text-align: center;
  color: #f7f0b7;
  font-family: Arial, Helvetica, sans-serif;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

h1 {
   font-size: 50px;
}

#canvas img{
  position: absolute;
}

* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

.column img {
  margin-top: 12px;
}

.column video {
  margin-top: 12px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


