body {
    text-align: center;
    background-color: #000000;
    font-family: 'Encode Sans SC', sans-serif;
    color: #ffffff;
    background-size: cover;
    position:relative;
    overflow: hidden;
    text-align: center;
    margin: none;
    border: none;
    padding: none;
}

.header {
    width: 100%;
    text-align: center;
    position: relative;
}

.container{
    height: 100%;
    position: relative;
  }

.three{
      position: center;
}


a:link {
    text-decoration: none;
    color: #000000;
  
  }
  
  a:visited {
    text-decoration: none;
    color: #000000;
  }

button{
  font-family: 'Encode Sans SC', sans-serif;}

.button{
    background-color: #272727;
    color: #ffffff;
    font-size: 7vmin;
    margin: 2%;
    padding: 2%;
    border-radius: 20px;
    border-style: none;
}

.tapcounter {
  background-color: rgb(21, 127, 133); 
  font-size: 7vmin;
  color: #ffffff;
  opacity: 0.7;  
  position: fixed; 
  bottom:0%;
  left: 0;
  width:96%;
  padding: 2%;
}

.tapcounter p{
  padding:none;
  margin:1%;
}