body {
    background-color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    position:relative;
    overflow: hidden;
    color: #000000;
    margin: none;
}

.header{
    position: absolute;
    text-align: center;
    width: 100%;
}

.three{
    padding-left:25%;
    padding-right:25%;
}

.text{
    font-size: 8vw;
}